Repository reaandrew/acronymcreator: changes, and which lefthook commands are due for each by the changed paths.
All: black, flake8, yaml-check

black:
  run: black {staged_files} && git add {staged_files}

flake8:
  run: flake8 {staged_files}

yaml-check:
  run: python -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]" {staged_files}

fix(ci): add CI environment guidance to auto-fix workflow
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

chore(release): 1.8.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  36f878c27f75394b06cff09c56a48ed9a01f5fa1
Due: none

feat: add YAML export format (#8)
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  src/acronymcreator/cli.py
  src/acronymcreator/core.py
  tests/test_acronym_creator.py
  tests/test_cli.py
Due: black, flake8

Notes added by 'git notes add'
  8e11e72c5f46bb5057e45f030ce4fbb1f71297b2
Due: none

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
Due: none

fix(ci): increase max-turns for Claude Code action from 20 to 50
  .github/workflows/claude-code.yml
Due: yaml-check

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  0818183e2cc2f2292ac6ccb2108a93898c6d54e8
Due: none

fix(ci): simplify Claude Code workflow with explicit PR prompt
  .github/workflows/claude-code.yml
Due: yaml-check

fix(ci): extract issue/PR context for Claude Code workflow
  .github/workflows/claude-code.yml
Due: yaml-check

fix(ci): add --dangerously-skip-permissions to Claude Code workflow
  .github/workflows/claude-code.yml
Due: yaml-check

fix(ci): allow specific safe commands in Claude Code workflow
  .github/workflows/claude-code.yml
Due: yaml-check

feat: add CSV export format (#11)
  README.md
  src/acronymcreator/cli.py
  tests/test_cli.py
Due: black, flake8

feat(deps): add Dependabot with safe auto-merge for patch/minor updates
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: yaml-check

chore: remove Dependabot configuration
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
Due: yaml-check

feat(ci): add pip-audit dependency vulnerability scanning
  .github/workflows/ci.yml
Due: yaml-check

fix(ci): integrate dependency-scan into pipeline sequence
  .github/workflows/ci.yml
Due: yaml-check

fix(ci): only check SonarCloud quality gate if scan succeeds
  .github/workflows/ci.yml
Due: yaml-check

fix(ci): prevent SonarCloud quality gate check from hanging on cancellation
  .github/workflows/ci.yml
Due: yaml-check

feat: fix dependency vulnerabilities (#17)
  .github/workflows/ci.yml
  tests/test_cli.py
Due: black, flake8, yaml-check

feat: add TOML export format (#19)
  README.md
  pyproject.toml
  src/acronymcreator/cli.py
  tests/test_cli.py
Due: black, flake8

feat: add TSV export format (#21)
  .pre-commit-config.yaml
  README.md
  requirements-dev.txt
  src/acronymcreator/cli.py
  tests/test_cli.py
Due: black, flake8

Path conditions:
  black: any of: **/*.py
  flake8: any of: **/*.py
  yaml-check: any of: **/*.{yml,yaml}
