Repository reaandrew/acronymcreator: changes, and which lefthook commands are due for each by the changed paths.
All: black, flake8, yaml-check

lefthook.yml:

# Lefthook configuration
# Fast, powerful Git hooks manager

pre-commit:
  parallel: true
  commands:
    trailing-whitespace:
      glob: "**/*"
      exclude: "*.png|*.jpg|*.jpeg|*.gif|*.svg|*.ico"
      run: |
        for file in {staged_files}; do
          sed -i 's/[[:space:]]*$//' "$file"
          git add "$file"
        done

    end-of-file:
      glob: "**/*"
      exclude: "*.png|*.jpg|*.jpeg|*.gif|*.svg|*.ico|*.pyc"
      run: |
        for file in {staged_files}; do
          if [ -f "$file" ] && [ -s "$file" ]; then
            tail -c1 "$file" | read -r _ || (echo >> "$file" && git add "$file")
          fi
        done

    black:
      glob: "**/*.py"
      run: black {staged_files} && git add {staged_files}

    flake8:
      glob: "**/*.py"
      run: flake8 {staged_files}

    yaml-check:
      glob: "**/*.{yml,yaml}"
      run: python -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]" {staged_files}

    gitguardian:
      skip:
        - run: '[ -z "$GITGUARDIAN_API_KEY" ]'
      run: ggshield secret scan pre-commit

    pytest:
      run: |
        files=$(git diff --cached --name-only | grep -E '^(src/|tests/).*\.py$' || true)
        if [ -n "$files" ]; then
          python -B -m pytest -c pytest-precommit.ini -p no:cacheprovider
        fi

commit-msg:
  commands:
    conventional:
      run: |
        # Check conventional commit format
        commit_regex='^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?!?: .+'
        if ! grep -qE "$commit_regex" {1}; then
          echo "Commit message must follow conventional format:"
          echo "  <type>(<scope>)?: <description>"
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          exit 1
        fi

skip:
  - merge
  - rebase

fix(ci): enable SonarCloud and Semgrep for all PRs
  .github/workflows/ci.yml
Due: yaml-check

fix(ci): add concurrency control and conventional commits to auto-fix
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

feat(ci): add rolling token usage tracker to auto-fix
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

fix(ci): use PAT to enable auto-trigger on auto-fix commits
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

test: add intentional NameError to test PAT-enabled auto-fix
  src/acronymcreator/core.py
Due: black, flake8

fix(ci): add empty commit step to trigger CI after claude[bot]
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

test: add intentional error to verify auto-fix loop
  src/acronymcreator/core.py
Due: black, flake8

feat: add JSON export functionality (#4)
  .claude/agents/README.md
  .claude/agents/autofix-postmortem.md
  .claude/agents/ci-failure-analyzer.md
  .claude/agents/commit-formatter.md
  .claude/agents/coverage-guardian.md
  .claude/agents/dep-update-validator.md
  .claude/agents/precommit-validator.md
  .claude/agents/release-notes.md
  .claude/agents/secret-prescanner.md
  .claude/agents/sonar-preflight.md
  .claude/agents/workflow-debugger.md
  .github/workflows/auto-fix-ci.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code.yml
  lefthook.yml
  sonar-project.properties
  src/acronymcreator/cli.py
  tests/test_cli.py
Due: black, flake8, yaml-check

test: add intentional error to test auto-fix workflow
  src/acronymcreator/core.py
Due: black, flake8

fix(ci): remove invalid allowed_files parameter blocking file edits
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

fix(ci): remove token usage tracking step causing failures
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

fix(ci): set permissionMode to always-allow to enable file edits
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

fix(ci): use acceptEdits permission mode with allowed tools
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

fix(ci): complete v1 migration with PATH, loop guard, and git author config
  .claude/settings.json
  .github/workflows/auto-fix-ci.yml
  .github/workflows/claude-code.yml
Due: yaml-check

fix(ci): amend Claude's commit instead of creating empty trigger commit
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

fix(ci): remove redundant trigger step, Claude's commit already triggers CI
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

test: add intentional error to trigger auto-fix workflow
  src/acronymcreator/core.py
Due: black, flake8

fix: resolve SonarCloud MAJOR issues
  .github/workflows/ci.yml
  src/acronymcreator/core.py
  tests/test_acronym_creator.py
Due: black, flake8, yaml-check

chore: add pre-push validator agent and enable SonarQube MCP
  .claude/agents/README.md
  .claude/agents/autofix-postmortem.md
  .claude/agents/ci-failure-analyzer.md
  .claude/agents/commit-formatter.md
  .claude/agents/coverage-guardian.md
  .claude/agents/dep-update-validator.md
  .claude/agents/pre-push-validator.md
  .claude/agents/precommit-validator.md
  .claude/agents/release-notes.md
  .claude/agents/secret-prescanner.md
  .claude/agents/sonar-preflight.md
  .claude/agents/workflow-debugger.md
  .claude/settings.json
  .mcp.json
  scripts/get-env.sh
  sonar-project.properties
Due: none

docs: comprehensive overhaul of CLAUDE.md and README.md
  CLAUDE.md
  README.md
Due: none

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  57d49972c28b29f21ab4327f66a22c95361e15f3
Due: none

feat: enhance auto-fix workflow to update documentation
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

fix: increase auto-fix max-turns from 20 to 50
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  07432dd6608f34ad1d3c440af1c827fb443049ec
Due: none

feat: optimize auto-fix workflow for efficiency
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

test: add YAML export format tests
  tests/test_cli.py
Due: black, flake8

fix(ci): skip GitGuardian in auto-fix pre-commit validation
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

fix(ci): clarify CI environment setup for auto-fix workflow
  .github/workflows/auto-fix-ci.yml
Due: yaml-check

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  8ff572c85edc41ea343c9f7a5b84bef1d7945af7
Due: none
